<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br><h1>10분 퀴즈</h1><br>
</body>
<body>
    <form action="/calcproc" method="get", target="myi">
        <label>숫자1:</label>
        <input type="number" name="num1"><br>
        <label>숫자2:</label>
        <input type="number" name="num2"><br>
        <button>계산</button><br>
    </form>
    <iframe name="myi" width="25%" height="100" frameorder="0"></iframe>
</body>
</html>