<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            width: 100%;
            border: 2px solid black;
            border-collap
        }
        th,td{
            border: 2px solid black;
        }
        tr:hover{
            background-color: yellow;
        }
    </style>
</head>
<body>
    <table>
        <thred>
            <tr><th>이름</th><th>나이</th><th>생일</th><tr>
        </thred>
        <tbody>
            <tr><th>홍길동</th><th>20</th><th>1999-11-12</th><tr>
            <tr><th>이순신</th><th>30</th><th>1989-03-11</th><tr>
            <tr><th>임꺽정</th><th>40</th><th>1979-05-20</th><tr>
        </tbody>
    </table>
</body>
</html>