<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>수정 메뉴</h1>
    <form action="/updateProc" target="alterfr">
        <label>수정할 제품명:</label>
        <input type="text" name="name"><br>
        <label>제품명:</label>
        <input type="text" name="new_name"><br>
        <label>수량:</label>
        <input type="number" name="new_quantity"><br>
        <label>생산일:</label>
        <input type="date" name="new_date"><br>
        <button>수정</button>
    </form>
    <iframe name="alterfr" width="300" height="200" frameborder="0"></iframe>
</body>
</html>