<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/styles.css" rel="stylesheet" />
        <style>
            h6 {
                text-align: left;
            }
        </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">Team 1: clothes style type classification
                    <h6><sub>김정우 박재원 이승희 이정우 임유경</sub></h6>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/check">Check</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Services</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="col gx-4 gx-lg-5 align-items-center my-5">
                <div class="row-lg-7">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/600x400/dee2e6/6c757d.jpg" alt="..." />
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/600x400/dee2e6/6c757d.jpg" alt="..." />
                </div>
            </div>
            <div class="col gx-4 gx-lg-5 align-items-center my-5">
                <div class="row-lg-7">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/600x400/dee2e6/6c757d.jpg" alt="..." />
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/600x400/dee2e6/6c757d.jpg" alt="..." />
                </div>
            </div>
            
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/scripts.js"></script>
    </body>
</html>
